@import '../styles/variables.scss';

.IngredientEntry {
    margin-top: 10px;
    width: 110px;

    .IngredientEntry-title {
        font-size: 0.8em;
        height: 1.2em;
        margin-bottom: 5px;
        text-shadow: $pink 1px 0 1px, $cyan -1px 0 1px;
        white-space: nowrap;
        overflow: hidden;
    }

    .IngredientEntry-values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .IngredientEntry-values-status {
            position: absolute;
            margin-bottom: 1px;
            left: 40px;
            font-size: 0.8em;

            &.yes {
                color: $green;
            }

            &.no {
                color: $pink;
            }
        }

        .IngredientEntry-values-current {
            font-size: 0.7em;
            padding-top: 2px;
            width: 55px;
            background-color: $black;
            border: 1px solid $cyan;
            color: $white;

            &:focus {
                outline-color: $pink;
                outline-style: inset;
                outline-width: 1px;
            }
        }

        .IngredientEntry-values-totalNeeded {
            font-size: 0.7em;
            width: 45px;
        }
    }
}