@import '../styles/variables.scss';

.IngredientEntry {
    margin-top: 10px;
    width: 100px;

    .IngredientEntry-title {
        font-size: 0.8em;
        margin-bottom: 5px;
        text-shadow: $pink 1px 0 1px, $cyan -1px 0 1px;
    }

    .IngredientEntry-values {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .IngredientEntry-values-current {
            font-size: 0.7em;
            padding-top: 2px;
            width: 45px;
            background-color: $black;
            border: 1px solid $cyan;
            color: $white;

            &:focus {
                outline-color: $pink;
                outline-style: inset;
            }
        }

        .IngredientEntry-values-totalNeeded {
            font-size: 0.7em;
            width: 45px;
        }
    }
}