@import './styles/variables';

body {
    background-image: url("styles/vaporwave-background.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;

    main {
        background-image: url("styles/vaporwave-sun.png");
        background-attachment: fixed;
        background-size: auto 50%;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}