@import '~/styles/variables.scss';

.CraftingItemRow {
    padding: 10px 0;
    border-bottom: 1px solid $light-grey;

    .CraftingItemRow-main {
        display: flex;
    
        .CraftingItemRow-main-head {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
    
            .CraftingItemRow-main-head-itemName {
                font-size: 1em;
                font-weight: bold;
                height: 1.2em;
                text-decoration: underline;
                text-shadow: $pink 1px 0 1px, $cyan -1px 0 1px;
            }
    
            .CraftingItemRow-main-head-itemInfo {
                margin-left: 5px;
                font-size: 1.2em;
                color: $cyan;
                text-shadow: $pink 1px 0 1px;
            }
        }
    
        .CraftingItemRow-main-contents {
            display: flex;
    
            .CraftingItemRow-main-contents-inputs {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .CraftingItemRow-info {
        display: flex;

        .CraftingItemRow-info-sidebar {
            width: 15%;
            font-size: 0.8em;

            .CraftingItemRow-info-sidebar-asset {
                img {
                    width: 100%;
                }
            }
        }

        .CraftingItemRow-info-stats {
            flex: 1;


            .CraftingItemRow-info-stats-table {
                .CraftingItemRow-info-stats-table-row {
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.7em;

                    .CraftingItemRow-info-stats-table-row-typeCell {
                        width: 60px;
                    }

                    .CraftingItemRow-info-stats-table-row-statCell {
                        width: 60px;
                    }
                }
            }
        }
    }
}